.kun {
    height: 80%;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}
.titre {
    margin-left: auto;
    margin-right: auto;  
}
.chan {
    height: 60%;
    width: 100%;  
}
.chiantLeFront  {
    margin-left : 80%;
}
#updateTaskChan {
    border: none;
}